body {
  background-color: #DFF6FF;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5, p {
  color: #256D85;
}

header {
  width: 100%;
  height: 7.2rem;
}
header .bg-color {
  background-color: #99d4fc;
}
header .bg-color div .logo {
  width: 100%;
  height: 6.25rem;
}
header .bg-color div div .search-btn {
  display: flex;
}
header .bg-color div div .search-btn .button-color {
  color: #99d4fc;
  background-color: #06283D;
}

footer {
  width: 100%;
  bottom: 0px;
  background-color: white;
  margin-top: auto;
}
footer .footer-nav {
  width: 100%;
  height: 200px;
  background-color: #99d4fc;
}
footer .footer-nav .footer-text {
  text-align: center;
  font-size: large;
  font-style: bold;
  color: #06283D;
  width: 100%;
}
footer .footer-nav .footer-text h1 {
  color: #DFF6FF;
}
footer .footer-nav .footer-red-socials {
  display: flex;
  justify-content: center;
}
footer .footer-end {
  background-color: #ffffff;
  width: 100%;
}
footer .footer-end .footer-text {
  text-align: center;
  font-size: large;
  font-style: bold;
  color: #06283D;
  width: 100%;
}
footer .footer-end .wp-footer {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 100px;
}

div .contact-title {
  font-size: xx-large;
  color: #021e36;
  font-style: bold;
  text-align: center;
}
div .mapa {
  display: flex;
  justify-content: center;
}
div .mapa iframe {
  max-width: 100%;
  max-height: 50%;
}

.carousel {
  margin: 0px auto;
  width: 100%;
}

.caracteristicas-principales .Titulo-principal {
  font-size: 2, 5rem;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-style: double;
}
.caracteristicas-principales .information {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  align-items: center;
  font-style: italic;
  font-size: large;
  text-align: center;
}
.caracteristicas-principales .information img {
  width: 80px;
  height: 80px;
}

.caracteristicas-tazas div {
  display: flex;
  align-items: center;
}
.caracteristicas-tazas div div .caract-img {
  width: 100%;
}
.caracteristicas-tazas div .text-characteristics {
  font-size: x-large;
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: inline-block;
}
.caracteristicas-tazas div .text-characteristics h2 {
  font-style: bold;
  font-size: xx-large;
}
.caracteristicas-tazas div .text-characteristics .icon-img {
  width: 80px;
  height: 80px;
}

.section-productos div .menu-productos ul {
  list-style: none;
  font-size: xx-large;
  text-decoration: underline;
  border: solid 3px #06283D;
}
.section-productos div .menu-productos ul li {
  border: solid 1px #06283D;
  background-color: #99d4fc;
}

main {
  height: 100%;
}
main .register-form {
  border: solid 3px #06283D;
  text-align: center;
  font-size: large;
  color: #06283D;
  background-color: #bdd6ee;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
main .register-title {
  font-size: xx-large;
  color: #06283D;
  font-style: bold;
  text-align: center;
}
main div .FAQ {
  text-align: center;
}

.wholesaler-title {
  font-size: xx-large;
  font-style: bold;
  text-align: center;
  color: #256D85;
}

.wholesaler-banner {
  border: solid 3px #06283D;
  width: 100%;
}

.ContenedorMayor {
  position: relative;
  text-align: center;
  display: inline-block;
  width: 100%;
}
.ContenedorMayor .CajaMayor {
  opacity: 90%;
  background-color: #DFF6FF;
  position: absolute;
  top: 10%;
  left: 15%;
  width: 50%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ContenedorMayor .CajaMayor div h2, .ContenedorMayor .CajaMayor div h1, .ContenedorMayor .CajaMayor div p {
  color: #256D85;
}

.v-line {
  border-left: solid;
  border-color: #06283D;
  height: 20%;
  left: 50%;
  position: absolute;
}

.articulo {
  padding: 10px;
}

.menu-nav li:hover {
  background-color: rgb(144, 220, 243);
}

/* media query */
@media screen and (max-width: 768px) {
  body h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1rem;
  }
  .caract-img {
    display: none;
  }
  .wp-footer {
    display: none;
  }
  header {
    height: 10rem;
  }
  .v-line {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .Desc-Mayor {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
.titulo{
    text-align: center;
    text-decoration: underline;
  }

  .card-title{
    text-align: center;
  }
  .card-title:hover{
    color: blue;
    }
    
  .cajaMayor{  
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:#99d4fc;
    border-radius: 1rem;

    
  }

  .imagen{
    width: 100%;
    border-radius: 1rem;
  }

  .producto{width: 25rem;
    border: solid 1px black;
    text-align: center;
    margin: 10px;
    border-radius: 1rem
  
  }

  .formulario{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .producto:hover{
    background-color: gold;
    border: blue 5px solid;
    transition: background-color .5s;
    border-radius: 1rem;
  }

  .ListaArticulos{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .activo{
    background-color: #99d4fc;
    transition: 0.5s;
    border: #99d4fc 5px solid;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
  }

  .datos{
    margin: 10px;
  }

  .categoria{
    width: 20rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    font-weight: bold;
    color:#06283D;
  }

.btn{
  border-radius: 1rem;
}

