@import '../base/variables' ;

header {
    width: 100%;
    height: 7.2rem;

    .bg-color {
        background-color: $color-menu ;

        div {
            .logo {
                width: 100%;
                height: 6.25rem;

            }
            div {
                .search-btn {
                    display: flex;

                    .button-color {
                        color: $color-menu;
                        background-color: $color-secundario;

                    }
                }
            }
        }
    }
} 