.carousel{
    margin: 0px auto;
    width: 100%;
    }

.caracteristicas-principales {
    .Titulo-principal {
        font-size: 2, 5rem;
        text-align: center;
        text-decoration-line: underline;
        text-decoration-style: double;

    }

    .information {
        display: flex;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        font-style: italic;
        font-size: large;
        text-align: center;
 

        img {
            width: 80px;
            height: 80px;

        }
    }
}

.caracteristicas-tazas {

    div {
        display: flex;
        align-items: center;

        div {
            .caract-img {
                width: 100%
            }
        }

        .text-characteristics {
            font-size: x-large;
            text-align: center;
            width: 50%;
            margin: 0 auto;
            display: inline-block;


            h2 {
                font-style: bold;
                font-size: xx-large;
            }

            .icon-img {
                width: 80px;
                height: 80px;
            }
        }
    }
}
