.section-productos {
    div {
        .menu-productos {
            ul {
                list-style: none;
                font-size: xx-large;
                text-decoration: underline;
                border: solid 3px $color-secundario ;

                li {
                    border: solid 1px $color-secundario ;
                    background-color: $color-menu;


                }
            }

        }
    }

}