.wholesaler-title {
    font-size: xx-large;
    font-style: bold;
    text-align: center;
    color: $color-fuente;
}

.wholesaler-banner {
    border: solid 3px $color-secundario;
    width: 100%;
}

.ContenedorMayor {
    position: relative;
    text-align: center;
    display: inline-block;
width: 100%;

    .CajaMayor {opacity: 90%;
        background-color: $color-fondo;
        position: absolute;
        top: 10%;
        left: 15%;
        width: 50%;
        height: 75%;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
            h2, h1, p{
                color: $color-fuente;
            }
        }

    }
}

.v-line{
    border-left: solid ;
    border-color: $color-secundario;
    height: 20%;
    left: 50%;
    position: absolute;
}